/**
  Custom code for small blocks modifications when editing the page with tdc composer
*/
.tdc-editing-vc_empty_space {
  outline: 2px dotted #e8e8e8;
}
.tdc-editing-vc_empty_space .tdc-editing-text {
  position: absolute;
  top: 50%;
  font-size: 14px;
  margin-top: -11px;
  width: 100%;
  text-align: center;
  color: #dddddd;
}
.tdc-element-selected .tdc-editing-vc_empty_space {
  outline: none;
}
html.tdc-active {
  margin: 0 !important;
}
html.tdc-active #wpadminbar {
  display: none;
}
.no-hover {
  pointer-events: none;
}
.yes-hover {
  pointer-events: all;
}
.tdc-elements {
  min-height: 50px;
  /* used when only the placeholder is inside and it's hidden */
}
.tdc-elements:empty {
  border: 1px dashed #aeef40;
  height: 50px;
}
.tdc-element,
.tdc-element-column,
.tdc-element-inner-row,
.tdc-element-inner-column {
  cursor: pointer;
}
.tdc-element:after {
  content: '';
  display: block;
  clear: both;
}
.tdc-element img,
.tdc-element a {
  pointer-events: none;
  cursor: pointer;
}
/* ----------------------------------------------------------------------------------------
  When a element is dragged, starting with the mouse down
*/
.tdc-dragged {
  opacity: 0.5;
}
/* ----------------------------------------------------------------------------------------
  When a element is selected (it's settings are opened in the left sidebar)
*/
.tdc-element-selected {
  outline: 2px dashed #d4d4d4;
}
.tdc-column.tdc-element-selected {
  outline: none;
}
.tdc-column.tdc-element-selected > .vc_column {
  outline: 2px dashed #d4d4d4;
}
.tdc-inner-column.tdc-element-selected {
  outline: none;
}
.tdc-inner-column.tdc-element-selected > .vc_column_inner {
  outline: 2px dashed #d4d4d4;
}
/* ----------------------------------------------------------------------------------------
  When a element is mouse down on
*/
.tdc-ready-to-move {
  opacity: 0.9 !important;
}
/* ----------------------------------------------------------------------------------------
  When a element is dropped, the job is running and we're waiting for new content
*/
@keyframes tdc-dropped-colorchange {
  0% {
    opacity: 0.5;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0.5;
  }
}
@-webkit-keyframes tdc-dropped-colorchange {
  0% {
    opacity: 0.5;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0.5;
  }
}
.tdc-dropped {
  position: relative;
  max-height: 550px;
  min-height: 120px;
  overflow: hidden;
  margin-bottom: 45px;
}
.tdc-dropped .td-video-play-ico {
  display: none;
}
.tdc-dropped:before {
  top: 0;
  left: 0;
  display: block;
  height: 100%;
  width: 100%;
  position: absolute;
  content: '';
  z-index: 1;
  min-height: 100px;
  background-color: white;
}
.tdc-dropped:after {
  top: 0;
  left: 0;
  display: block;
  height: 100%;
  width: 100%;
  position: absolute;
  background: #f1f1f1 url("../images/loader.gif") no-repeat;
  content: '';
  z-index: 2;
  background-position: center;
  animation: tdc-dropped-colorchange 1s linear infinite;
  -webkit-animation: tdc-dropped-colorchange 1s linear infinite;
}
.tdc-element-empty {
  border: 1px solid #4eb2ec;
  width: 100%;
  max-height: 50px;
  overflow: hidden;
  cursor: default;
}
.tdc-element-empty:before {
  text-align: center;
  content: 'EMPTY ELEMENT';
  font-size: 12px;
  line-height: 47px;
  display: block;
  height: 100%;
  color: #666;
}
.tdc-inner-column .tdc-elements > .tdc-element-empty {
  border: 1px solid #e7cc00;
}
#tdc-placeholder {
  display: none;
  height: 50px;
  width: 100%;
  position: absolute;
  pointer-events: none;
  z-index: 100000;
  margin-top: -25px;
  border: 1px dashed #aeef40;
  background-color: rgba(174, 239, 64, 0.4);
}
.tdc-inner-column .tdc-elements > #tdc-placeholder {
  border: 1px dashed #e7cc00;
  background-color: rgba(219, 179, 0, 0.3);
}
.tdc-columns > #tdc-placeholder {
  border: 1px dashed #aeef40;
  background-color: rgba(174, 239, 64, 0.4);
}
.tdc-inner-columns > #tdc-placeholder {
  border: 1px dashed #e7cc00;
  background-color: rgba(219, 179, 0, 0.3);
}
.vertical {
  width: 50px !important;
  height: 200px !important;
  margin-top: auto !important;
  right: auto !important;
}
#tdc-mask {
  position: absolute;
  font-size: 10px;
  pointer-events: none;
  left: 0;
  top: 0;
  width: 0;
  min-height: 50px;
  display: none;
}
#tdc-mask-content {
  width: 0;
  height: 0;
  background-color: #4db2ec;
  opacity: 0.3;
  pointer-events: none;
  position: absolute;
  z-index: 3;
  display: none;
}
.tdc-content-row,
.tdc-content-inner-row {
  opacity: 1 !important;
  background-color: rgba(131, 203, 236, 0.12) !important;
  outline: 1px solid rgba(78, 178, 236, 0.3) !important;
}
#tdc-mask-row,
#tdc-mask-column,
#tdc-mask-inner-row,
#tdc-mask-inner-column {
  position: absolute;
  pointer-events: all;
}
#tdc-mask-row {
  background-color: #ee5734 !important;
  color: #FFFFFF;
  top: 0;
  left: 0;
  width: 60px;
  height: 17px;
}
#tdc-mask-column {
  background-color: #363636;
  color: #FFFFFF;
  top: 0;
  left: 60px;
  width: 76px;
  height: 17px;
}
#tdc-mask-inner-row {
  background-color: #ee5734;
  color: #FFFFFF;
  top: 17px;
  left: 0;
  width: 87px;
  height: 18px;
  border-top: 1px solid rgba(255, 255, 255, 0.3);
}
#tdc-mask-inner-column {
  background-color: #363636;
  color: #FFFFFF;
  top: 17px;
  left: 87px;
  width: 103px;
  height: 18px;
  border-top: 1px solid rgba(255, 255, 255, 0.3);
}
.tdc-mask-handler-drag {
  position: absolute;
  top: -2px;
  left: 19px;
  font-family: 'Open Sans';
}
#tdc-mask-handler {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 4;
  cursor: pointer;
}
.td_block_homepage_full_1 {
  height: 50px;
  border: 1px solid #ec6432;
}
.td_block_homepage_full_1:after {
  text-align: center;
  content: 'Homepage Post Element';
  font-size: 12px;
  line-height: 47px;
  display: block;
  height: 100%;
  color: #666;
}
.tdc-big-grid-slide {
  height: 50px;
  border: 1px solid #ec6432;
}
.tdc-big-grid-slide:after {
  text-align: center;
  content: 'Big Grid Slide must be in a ROW / 3 COLUMNS';
  font-size: 12px;
  line-height: 47px;
  display: block;
  height: 100%;
  color: #666;
}
#tdc-rows .tdc-add-block {
  height: 50px;
  border: 1px solid #ec6432;
}
#tdc-rows .tdc-add-block:after {
  text-align: center;
  content: 'Add Box Element';
  font-size: 12px;
  line-height: 47px;
  display: block;
  height: 100%;
  color: #666;
}
#tdc-rows .td_block_authors {
  margin-bottom: 0;
  padding-bottom: 0;
}
#tdc-rows .tdc-rev-slider {
  height: 50px;
  border: 1px solid #ec6432;
}
#tdc-rows .tdc-rev-slider:after {
  text-align: center;
  content: 'Revolution Slider';
  font-size: 12px;
  line-height: 47px;
  display: block;
  height: 100%;
  color: #666;
}
#tdc-rows .vc_widget_sidebar {
  border: 1px solid #ec6432;
}
#tdc-rows .vc_widget_sidebar:after {
  text-align: center;
  content: 'Widget Sidebar';
  font-size: 12px;
  display: block;
  height: 100%;
  color: #666;
}
.tdc-external-shortcode {
  height: 50px;
  border: 1px solid #ec6432;
}
.tdc-mask-edit {
  position: absolute;
  top: 0;
  right: 0;
  width: 17px;
  height: 17px;
  border-left: 1px solid rgba(255, 255, 255, 0.3);
}
.tdc-mask-edit .tdc-icon-edit {
  background: url('../images/sidebar/spritesheet.png');
  background-repeat: no-repeat;
  position: relative;
  top: 1px;
  right: -1px;
  background-position: -113px -65px;
  width: 14px;
  height: 14px;
}
.tdc-mask-arrow-horizontal,
.tdc-mask-arrow-vertical {
  background: url('../images/sidebar/spritesheet.png');
  background-repeat: no-repeat;
  position: absolute;
  top: 2px;
  left: 3px;
}
.tdc-mask-arrow-horizontal {
  background-position: -65px -65px;
  width: 14px;
  height: 14px;
}
.tdc-mask-arrow-vertical {
  background-position: -89px -65px;
  width: 14px;
  height: 14px;
}
#tdc-recycle {
  position: fixed;
  right: 20px;
  bottom: 20px;
  margin-left: auto;
  margin-right: auto;
  color: #888;
  background-color: #eaeaea;
  border: 1px dashed #bbb;
  width: 258px;
  height: 90px;
  opacity: 0;
  pointer-events: none;
  z-index: 10000;
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
}
#tdc-recycle .tdc-delete-text:first-child:before {
  content: 'Drag here to';
}
#tdc-recycle.show {
  opacity: 1;
  pointer-events: auto;
}
#tdc-recycle.active {
  color: #fff;
  background-color: #e1624f;
  border: 1px solid #e1624f;
}
#tdc-recycle.active .tdc-delete-text:first-child:before {
  content: 'Drop here to';
}
.tdc-delete-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  line-height: 19px;
}
.tdc-delete-text span {
  display: block;
  text-transform: uppercase;
  font-size: 14px;
}
.td-admin-edit {
  display: none !important;
}
