.tdc-panel-button {
  display: inline-block;
  position: relative;
  margin-left: 8px;
}
.tdc-panel-icon {
  position: absolute;
  left: 0;
  top: 0;
  box-sizing: border-box;
  width: 37px;
  height: 36px;
  border-radius: 4px 0 0 4px;
  background: url('../images/sidebar/logo-symbol.png');
  background-repeat: no-repeat;
  background-color: #4db2ec;
  background-position: center;
}
.tdc-panel-link {
  box-sizing: border-box;
  background-color: #4db2ec;
  width: 128px;
  height: 36px;
  cursor: pointer;
  margin-left: 37px;
  border-radius: 0 4px 4px 0;
  transition: all 0.4s ease;
  text-align: center;
  border-left: 1px solid #72b9e2;
}
.tdc-panel-link:hover {
  background-color: #449edd;
}
.tdc-panel-link a {
  text-decoration: none;
  text-transform: uppercase;
  color: #fff;
  font-size: 11px;
  line-height: 35px;
  display: block;
  width: 100%;
  height: 100%;
}
/*
  Open editor loader
*/
.tdc-open-editor-loader .tdc-panel-icon {
  background-position: 10px 9px !important;
  background: #4db2ec url("../images/loader-small.gif") no-repeat;
}
