/*
  Hide WordPress stuff
*/
#tdc-sidebar {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 300px;
  background-color: #fff;
  z-index: 1;
  -webkit-box-shadow: 0 0 8px 2px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 0 8px 2px rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 8px 2px rgba(0, 0, 0, 0.1);
  transition: left 0.4s cubic-bezier(0.55, 0, 0.1, 1) 0s;
}
.tdc-sidebar-hidden {
  left: -300px !important;
}
.tdc-sidebar-inline {
  position: absolute !important;
  top: -32px !important;
  bottom: 10px !important;
}
.tdc-sidebar-inline#tdc-sidebar {
  box-shadow: none;
  border-right: 1px solid #ddd;
}
.tdc-sidebar-inline#tdc-sidebar .tdc-icon-bullet {
  background: url('../images/sidebar/bullet-empty.png');
  top: 11px;
  left: 11px;
}
.tdc-no-sidebar {
  left: 0 !important;
  transition: all 0.4s ease;
}
/*
  Top buttons
*/
.tdc-top-buttons {
  height: 43px;
  width: 100%;
  background-color: #4eb2ec;
  position: absolute;
  top: 0;
  left: 0;
}
.tdc-top-buttons .tdc-add-element {
  width: 110px;
  font-size: 12px;
  line-height: 43px;
  text-transform: uppercase;
  text-decoration: none;
  color: #fff;
  margin-left: 10px;
  padding-left: 14px;
  position: relative;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  transition: all 0.2s ease;
}
.tdc-top-buttons .tdc-add-element .tdc-icon-add {
  position: absolute;
  top: 11px;
  right: 8px;
  height: 20px;
  width: 20px;
  background: url('../images/sidebar/arrow_right.png');
  background-repeat: no-repeat;
}
.tdc-top-buttons .tdc-add-element:hover {
  background-color: #268ac2;
}
.tdc-top-buttons .tdc-active-element {
  background-color: #fff;
  color: #000000;
}
.tdc-top-buttons .tdc-active-element .tdc-icon-add {
  background: url('../images/sidebar/arrow_down.png');
  background-repeat: no-repeat;
}
.tdc-top-buttons .tdc-active-element:hover {
  background-color: #fff;
}
.tdc-top-buttons .tdc-save-page {
  width: 44px;
  height: 43px;
  position: absolute;
  top: 0;
  right: 53px;
  cursor: pointer;
}
.tdc-top-buttons .tdc-save-page:hover {
  background-color: #268ac2;
}
.tdc-top-buttons .tdc-save-page .tdc-icon-save {
  position: absolute;
  top: 10px;
  right: 12px;
  height: 20px;
  width: 20px;
  background: url('../images/sidebar/save.png');
  background-repeat: no-repeat;
}
.tdc-top-buttons .tdc-close-page {
  width: 43px;
  height: 43px;
  position: absolute;
  top: 0;
  right: 10px;
  cursor: pointer;
}
.tdc-top-buttons .tdc-close-page:hover {
  background-color: #268ac2;
}
.tdc-top-buttons .tdc-close-page .tdc-icon-close {
  position: absolute;
  top: 10px;
  right: 11px;
  height: 20px;
  width: 20px;
  background: url('../images/sidebar/x.png');
  background-repeat: no-repeat;
}
/*
  Modal window
*/
.tdc-sidebar-modal {
  display: none;
  background-color: #fff;
  position: absolute;
  left: 0;
  right: 0;
  top: 43px;
  bottom: 43px;
  z-index: 100;
  overflow: hidden;
}
.tdc-sidebar-modal .tdc-sidebar-modal-content {
  overflow-y: scroll;
  width: 317px;
  height: 100%;
  margin-left: 20px;
}
.tdc-sidebar-modal .tdc-sidebar-modal-search {
  position: relative;
  margin: 20px;
  border-bottom: 1px solid #ddd;
}
.tdc-sidebar-modal .tdc-sidebar-modal-search input[type=text] {
  border: none;
  -webkit-box-shadow: none;
  transition: none;
  -webkit-transition: none;
  box-shadow: none;
  background-color: #fff;
  color: #888;
  outline: 0;
  width: 220px;
  font-size: 12px;
}
.tdc-sidebar-modal .tdc-modal-close {
  position: absolute;
  right: 0;
  top: 2px;
  height: 20px;
  width: 20px;
  background: url('../images/sidebar/search.png');
}
.tdc-sidebar-modal .tdc-element-icon {
  position: absolute;
  top: 0;
  right: 0;
  height: 24px;
  width: 40px;
  background: url('../images/sidebar/big_grid1.png');
}
.tdc-modal-open {
  display: block;
}
.tdc-ico-vc_row,
.tdc-ico-vc_row_inner,
.tdc-ico-rev_slider,
.tdc-ico-vc_column_text,
.tdc-ico-vc_raw_html,
.tdc-ico-vc_empty_space,
.tdc-ico-vc_widget_sidebar,
.tdc-ico-td_block_1,
.tdc-ico-td_block_2,
.tdc-ico-td_block_3,
.tdc-ico-td_block_4,
.tdc-ico-td_block_5,
.tdc-ico-td_block_6,
.tdc-ico-td_block_7,
.tdc-ico-td_block_8,
.tdc-ico-td_block_9,
.tdc-ico-td_block_10,
.tdc-ico-td_block_11,
.tdc-ico-td_block_12,
.tdc-ico-td_block_13,
.tdc-ico-td_block_14,
.tdc-ico-td_block_15,
.tdc-ico-td_block_16,
.tdc-ico-td_block_17,
.tdc-ico-td_block_18,
.tdc-ico-td_block_19,
.tdc-ico-td_block_20,
.tdc-ico-td_block_21,
.tdc-ico-td_block_22,
.tdc-ico-td_block_23,
.tdc-ico-td_block_24,
.tdc-ico-td_block_25,
.tdc-ico-td_block_big_grid_1,
.tdc-ico-td_block_big_grid_2,
.tdc-ico-td_block_big_grid_3,
.tdc-ico-td_block_big_grid_4,
.tdc-ico-td_block_big_grid_5,
.tdc-ico-td_block_big_grid_6,
.tdc-ico-td_block_big_grid_7,
.tdc-ico-td_block_big_grid_8,
.tdc-ico-td_block_big_grid_9,
.tdc-ico-td_block_big_grid_10,
.tdc-ico-td_block_big_grid_11,
.tdc-ico-td_block_big_grid_12,
.tdc-ico-td_block_big_grid_slide,
.tdc-ico-td_block_trending_now,
.tdc-ico-td_block_video_youtube,
.tdc-ico-td_block_video_vimeo,
.tdc-ico-td_block_ad_box,
.tdc-ico-td_block_authors,
.tdc-ico-td_block_homepage_full_1,
.tdc-ico-td_block_popular_categories,
.tdc-ico-td_block_slide,
.tdc-ico-td_block_text_with_title,
.tdc-ico-td_block_weather,
.tdc-ico-td_block_exchange,
.tdc-ico-td_block_instagram,
.tdc-ico-td_block_social_counter {
  height: 24px;
  background: url('../images/sidebar/big_grid1.png');
  background-repeat: no-repeat;
  margin-bottom: 13px;
}
.tdc-element-id {
  margin-left: 56px;
  position: relative;
  top: 3px;
  font-size: 12px;
  color: #000000;
}
/*
  Breadcrumbs
*/
.tdc-breadcrumbs {
  clear: left;
  padding: 7px 12px 0 12px;
  background-color: #FFFFFF;
  min-height: 20px;
}
.tdc-breadcrumbs a {
  font-size: 12px;
  text-decoration: none;
  color: #888;
}
.tdc-breadcrumbs a:hover {
  text-decoration: underline;
}
.tdc-breadcrumb-arrow {
  width: 10px;
  height: 10px;
  display: inline-block;
  background: url('../images/sidebar/breadcrumbs-small-arrow.png');
  position: relative;
  top: 2px;
}
.tdc-current-element-head {
  font-size: 14px;
  margin-top: 0;
  padding: 0 10px 20px 12px;
  color: #000000;
}
/*
  inspector + tabs
*/
.tdc-inspector-wrap {
  overflow: hidden;
}
.tdc-inspector {
  background-color: #fff;
  overflow-y: scroll;
  width: 317px;
  margin-top: 56px;
}
.tdc-tabs {
  padding: 0 12px;
}
.tdc-tabs a {
  padding: 8px 12px 7px 12px;
  display: inline-block;
  position: relative;
  top: 1px;
  color: #000000;
  text-decoration: none;
  font-size: 12px;
}
.tdc-tabs .tdc-tab-active {
  -webkit-box-shadow: 0 0 6px 2px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 0 6px 2px rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 6px 2px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  position: relative;
  z-index: 1;
}
.tdc-tabs .tdc-tab-active:before {
  content: '';
  position: absolute;
  bottom: -11px;
  left: -5px;
  z-index: 1;
  width: 125%;
  height: 12px;
  background-color: #fff;
}
.tdc-tab-content-wrap {
  -webkit-box-shadow: -5px 0 6px 2px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: -5px 0 6px 2px rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 6px 2px rgba(0, 0, 0, 0.1);
  padding: 18px 13px 15px 14px;
  background-color: #fff;
  position: relative;
}
.tdc-tab-content-wrap:before {
  content: '';
  position: absolute;
  bottom: -10px;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 20px;
  background-color: #fff;
}
.tdc-tab-content-wrap .tdc-tab-content {
  display: none;
}
.tdc-tab-content-wrap .tdc-tab-content-visible {
  display: block;
}
/*
  sidebar bottom
*/
.tdc-sidebar-bottom {
  display: block;
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: #333;
  height: 43px;
  z-index: 50;
}
#tdc-recycle {
  position: absolute;
  bottom: 63px;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  color: #888;
  background-color: #eaeaea;
  border: 1px dashed #bbb;
  width: 258px;
  height: 90px;
  opacity: 0;
  transition: all 0.4s ease;
}
#tdc-recycle .tdc-delete-text:first-child:before {
  content: 'Drag here to';
}
#tdc-recycle.show {
  opacity: 1;
}
#tdc-recycle.active {
  color: #fff;
  background-color: #e1624f;
  border: 1px solid #e1624f;
}
#tdc-recycle.active .tdc-delete-text:first-child:before {
  content: 'Drop here to';
}
.tdc-delete-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  line-height: 19px;
}
.tdc-delete-text span {
  display: block;
  text-transform: uppercase;
  font-size: 14px;
}
.tdc-sidebar-info {
  display: block;
  position: absolute;
  left: 0;
  bottom: 43px;
  max-width: 260px;
  background-color: #eee;
  padding: 0 10px;
  font-size: 11px;
  line-height: 18px;
  overflow: hidden;
}
.tdc-sidebar-close {
  width: 43px;
  height: 43px;
  position: absolute;
  top: 0;
  left: 0;
  cursor: pointer;
  z-index: 51;
}
.tdc-sidebar-close:hover {
  background-color: #000;
}
.tdc-sidebar-close .tdc-icon-sidebar-close {
  width: 20px;
  height: 20px;
  background: url('../images/sidebar/arrow_left.png');
  background-repeat: no-repeat;
  position: absolute;
  top: 11px;
  left: 11px;
}
.tdc-sidebar-open {
  width: 43px;
  height: 43px;
  position: fixed;
  bottom: 0;
  left: -43px;
  background-color: #fff;
  cursor: pointer;
  z-index: 52;
  -webkit-box-shadow: -5px 0 6px 2px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: -5px 0 6px 2px rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 6px 2px rgba(0, 0, 0, 0.1);
}
.tdc-sidebar-open .tdc-icon-sidebar-open {
  width: 20px;
  height: 20px;
  background: url('../images/sidebar/arrow_open.png');
  background-repeat: no-repeat;
  position: absolute;
  top: 11px;
  left: 11px;
}
.tdc-sidebar-reopen {
  transition: left 0.4s ease 0.4s;
  left: 0;
}
.tdc-bullet {
  width: 43px;
  height: 43px;
  position: absolute;
  top: 0;
  left: 43px;
  cursor: pointer;
}
.tdc-bullet:hover {
  background-color: #000;
}
.tdc-bullet .tdc-icon-bullet {
  width: 20px;
  height: 20px;
  background: url('../images/sidebar/bullet.png');
  background-repeat: no-repeat;
  position: absolute;
  top: 12px;
  left: 12px;
}
#tdc-restore {
  position: fixed;
  left: 301px;
  bottom: 43px;
  font-size: 12px;
  color: #FFFFFF;
  background-color: #000;
  padding: 4px 10px;
  display: none;
}
#tdc-restore-content {
  display: none;
  position: fixed;
  left: 301px;
  bottom: 69px;
  font-size: 12px;
  color: #000000;
  background-color: #fff;
  border: 1px solid red;
  width: 520px;
  max-height: 200px;
  overflow-y: scroll;
}
#tdc-breadcrumb-row,
#tdc-breadcrumb-column,
#tdc-breadcrumb-inner-row,
#tdc-breadcrumb-inner-column {
  display: none;
  float: left;
}
/*
  responsive buttons
*/
.tdc-responsive-buttons {
  width: 270px;
  height: 28px;
  border: 1px solid #ddd;
  margin-bottom: 15px;
}
.tdc-responsive-buttons .tdc-responsive-desktop {
  width: 67px;
  height: 28px;
  position: relative;
  display: inline-block;
  cursor: pointer;
}
.tdc-responsive-buttons .tdc-responsive-desktop .tdc-desktop-icon {
  width: 20px;
  height: 20px;
  background: url('../images/sidebar/desktop-black.png');
  background-repeat: no-repeat;
  position: absolute;
  top: 5px;
  left: 0;
  right: 0;
  margin: 0 auto;
}
.tdc-responsive-buttons .tdc-responsive-desktop:active {
  background-color: #4eb2ec;
}
.tdc-responsive-buttons .tdc-responsive-desktop:active .tdc-desktop-icon {
  background: url('../images/sidebar/desktop-white.png');
}
.tdc-responsive-buttons .tdc-responsive-tablet-landscape {
  width: 67px;
  height: 28px;
  position: relative;
  display: inline-block;
  border-left: 1px solid #ddd;
  cursor: pointer;
}
.tdc-responsive-buttons .tdc-responsive-tablet-landscape .tdc-tablet-landscape-icon {
  width: 20px;
  height: 20px;
  background: url('../images/sidebar/tablet-l-black.png');
  background-repeat: no-repeat;
  position: absolute;
  top: 4px;
  left: -1px;
  right: 0;
  margin: 0 auto;
}
.tdc-responsive-buttons .tdc-responsive-tablet-landscape:active {
  background-color: #4eb2ec;
}
.tdc-responsive-buttons .tdc-responsive-tablet-landscape:active .tdc-tablet-landscape-icon {
  background: url('../images/sidebar/tablet-l-white.png');
}
.tdc-responsive-buttons .tdc-responsive-tablet-portrait {
  width: 67px;
  height: 28px;
  position: relative;
  display: inline-block;
  border-left: 1px solid #ddd;
  cursor: pointer;
}
.tdc-responsive-buttons .tdc-responsive-tablet-portrait .tdc-tablet-portrait-icon {
  width: 20px;
  height: 20px;
  background: url('../images/sidebar/tablet-p-black.png');
  background-repeat: no-repeat;
  position: absolute;
  top: 4px;
  left: -1px;
  right: 0;
  margin: 0 auto;
}
.tdc-responsive-buttons .tdc-responsive-tablet-portrait:active {
  background-color: #4eb2ec;
}
.tdc-responsive-buttons .tdc-responsive-tablet-portrait:active .tdc-tablet-portrait-icon {
  background: url('../images/sidebar/tablet-p-white.png');
}
.tdc-responsive-buttons .tdc-responsive-phone {
  width: 66px;
  height: 28px;
  position: relative;
  display: inline-block;
  border-left: 1px solid #ddd;
  cursor: pointer;
}
.tdc-responsive-buttons .tdc-responsive-phone .tdc-phone-icon {
  width: 20px;
  height: 20px;
  background: url('../images/sidebar/phone-black.png');
  background-repeat: no-repeat;
  position: absolute;
  top: 4px;
  left: -2px;
  right: 0;
  margin: 0 auto;
}
.tdc-responsive-buttons .tdc-responsive-phone:active {
  background-color: #4eb2ec;
}
.tdc-responsive-buttons .tdc-responsive-phone:active .tdc-phone-icon {
  background: url('../images/sidebar/phone-white.png');
}
/*
  color picker
*/
.tdc-property-colorpicker {
  position: relative;
}
.tdc-property-colorpicker .tdc-property .wp-picker-container .wp-color-result {
  box-shadow: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  height: 25px;
  width: 25px;
  padding: 0;
  margin: 0;
  border: 1px solid #ddd;
  position: absolute;
  top: -5px;
  right: 1px;
}
.tdc-property-colorpicker .tdc-property .wp-picker-container .wp-color-result:after {
  display: none;
}
.tdc-property-colorpicker .tdc-property .wp-picker-container .wp-picker-input-wrap {
  margin-top: 8px;
  margin-bottom: 2px;
}
.tdc-property-colorpicker .tdc-property .wp-picker-container .button {
  font-size: 11px;
  color: #000 !important;
  border: 1px solid #ddd !important;
  background-color: #fff !important;
  padding: 0 10px !important;
  height: 27px !important;
}
.tdc-property-colorpicker .tdc-property .wp-picker-container input.wp-color-picker[type="text"] {
  height: 27px !important;
  width: 218px !important;
}
.tdc-property-colorpicker .tdc-property .wp-picker-container .iris-picker {
  border-bottom: none;
  margin: 6px 0 0 0;
  width: 271px !important;
}
.tdc-property-colorpicker .tdc-property .wp-picker-container .iris-picker .iris-square {
  width: 76%;
  margin-right: 31px;
  position: relative;
  top: 10px;
  left: 10px;
}
.tdc-property-colorpicker .tdc-property .wp-picker-container .iris-picker .iris-strip {
  top: 11px;
}
.tdc-property-colorpicker .tdc-property .wp-picker-container .iris-picker .iris-palette-container {
  left: 20px;
  bottom: -15px;
}
.tdc-property-colorpicker .tdc-property .wp-picker-container .cs-alpha-wrap {
  position: static;
  width: 231px;
  padding: 30px 20px 20px 20px;
  margin-bottom: 14px;
}
.tdc-property-colorpicker .tdc-property .wp-picker-container .cs-alpha-wrap .cs-alpha-text {
  top: 0;
  right: 24px;
  color: #888888;
}
/*
  Properties
*/
.tdc-property-wrap {
  position: relative;
}
.tdc-property-wrap .tdc-property-title {
  font-size: 12px;
  color: #000000;
  margin-bottom: 4px;
}
#td-tab-general input[type=text],
#td-tab-filter input[type=text],
#td-tab-ajax input[type=text],
#td-tab-extra input[type=text],
#td-tab-exchange input[type=text],
#td-tab-weather input[type=text] {
  box-shadow: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  max-width: 99.5%;
  width: 99.5%;
  font-size: 12px;
  padding: 4px 8px;
}
#td-tab-general select,
#td-tab-filter select,
#td-tab-ajax select,
#td-tab-extra select,
#td-tab-exchange select,
#td-tab-weather select {
  box-shadow: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  max-width: 99.5%;
  width: 99.5%;
  height: 27px;
  font-size: 12px;
  padding: 0 4px;
}
#td-tab-general .tdc-property-tdc_row_columns_modifier select,
#td-tab-filter .tdc-property-tdc_row_columns_modifier select,
#td-tab-ajax .tdc-property-tdc_row_columns_modifier select,
#td-tab-extra .tdc-property-tdc_row_columns_modifier select,
#td-tab-exchange .tdc-property-tdc_row_columns_modifier select,
#td-tab-weather .tdc-property-tdc_row_columns_modifier select,
#td-tab-general .tdc-property-sort select,
#td-tab-filter .tdc-property-sort select,
#td-tab-ajax .tdc-property-sort select,
#td-tab-extra .tdc-property-sort select,
#td-tab-exchange .tdc-property-sort select,
#td-tab-weather .tdc-property-sort select,
#td-tab-general .tdc-property-ajax_pagination select,
#td-tab-filter .tdc-property-ajax_pagination select,
#td-tab-ajax .tdc-property-ajax_pagination select,
#td-tab-extra .tdc-property-ajax_pagination select,
#td-tab-exchange .tdc-property-ajax_pagination select,
#td-tab-weather .tdc-property-ajax_pagination select,
#td-tab-general .tdc-property-w_units select,
#td-tab-filter .tdc-property-w_units select,
#td-tab-ajax .tdc-property-w_units select,
#td-tab-extra .tdc-property-w_units select,
#td-tab-exchange .tdc-property-w_units select,
#td-tab-weather .tdc-property-w_units select,
#td-tab-general .tdc-property-e_rate_decimals select,
#td-tab-filter .tdc-property-e_rate_decimals select,
#td-tab-ajax .tdc-property-e_rate_decimals select,
#td-tab-extra .tdc-property-e_rate_decimals select,
#td-tab-exchange .tdc-property-e_rate_decimals select,
#td-tab-weather .tdc-property-e_rate_decimals select,
#td-tab-general .tdc-property-spot_id select,
#td-tab-filter .tdc-property-spot_id select,
#td-tab-ajax .tdc-property-spot_id select,
#td-tab-extra .tdc-property-spot_id select,
#td-tab-exchange .tdc-property-spot_id select,
#td-tab-weather .tdc-property-spot_id select,
#td-tab-general .tdc-property-playlist_auto_play select,
#td-tab-filter .tdc-property-playlist_auto_play select,
#td-tab-ajax .tdc-property-playlist_auto_play select,
#td-tab-extra .tdc-property-playlist_auto_play select,
#td-tab-exchange .tdc-property-playlist_auto_play select,
#td-tab-weather .tdc-property-playlist_auto_play select,
#td-tab-general .tdc-property-navigation select,
#td-tab-filter .tdc-property-navigation select,
#td-tab-ajax .tdc-property-navigation select,
#td-tab-extra .tdc-property-navigation select,
#td-tab-exchange .tdc-property-navigation select,
#td-tab-weather .tdc-property-navigation select,
#td-tab-general .tdc-property-style select,
#td-tab-filter .tdc-property-style select,
#td-tab-ajax .tdc-property-style select,
#td-tab-extra .tdc-property-style select,
#td-tab-exchange .tdc-property-style select,
#td-tab-weather .tdc-property-style select {
  max-width: 60%;
  width: 120px;
  height: 27px;
  position: absolute;
  top: -7px;
  right: -1px;
}
#td-tab-css input[type=text],
#td-tab-design-options input[type=text] {
  box-shadow: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  z-index: 2;
}
#td-tab-css select,
#td-tab-design-options select {
  box-shadow: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  max-width: 60%;
  width: 120px;
  font-size: 12px;
  padding: 0 4px;
  position: absolute;
  top: -7px;
  right: 0;
}
/*
  small input boxes
*/
.tdc-property-limit .tdc-property,
.tdc-property-offset .tdc-property,
.tdc-border-radius .tdc-property {
  position: absolute;
  top: -6px;
  right: 2px;
  width: 42px;
}
.tdc-property-limit .tdc-property input[type=text],
.tdc-property-offset .tdc-property input[type=text],
.tdc-border-radius .tdc-property input[type=text] {
  width: 42px;
  font-size: 12px;
  padding: 4px 8px;
  text-align: right;
}
/*
  vertical spacing
*/
.tdc-property-post_ids,
.tdc-property-category_id,
.tdc-property-category_ids,
.tdc-property-tag_slug,
.tdc-property-autors_id,
.tdc-property-td_ajax_filter_type,
.tdc-property-td_ajax_filter_ids,
.tdc-property-td_filter_default_txt,
.tdc-property-el_id,
.tdc-property-el_class,
.tdc-property-alias,
.tdc-property-title,
.tdc-widget-sidebar-dropdown,
.tdc-property-custom_title,
.tdc-property-e_base_currency,
.tdc-property-e_rate_decimals,
.tdc-property-w_units,
.tdc-property-roles,
.tdc-property-exclude,
.tdc-property-playlist_title {
  margin-bottom: 13px;
}
.tdc-property-custom_url,
.tdc-property-w_location,
.tdc-property-e_custom_rates,
.tdc-property-content,
.tdc-property-offset,
.tdc-property-sort,
.tdc-property-include,
.tdc-property-playlist_yt,
.tdc-property-playlist_v {
  margin-bottom: 15px;
}
.tdc-property-ajax_pagination,
.tdc-property-tdc_row_columns_modifier {
  margin-top: 9px;
  margin-bottom: 20px;
}
.tdc-border-radius,
.tdc-border-style {
  position: relative;
  margin-bottom: 19px;
}
.tdc-property-td_grid_style,
.tdc-property-autoplay {
  margin-bottom: 14px;
}
.tdc-property-spot_id,
.tdc-property-navigation {
  margin-bottom: 19px;
  margin-top: 6px;
}
.tdc-bg-color {
  margin-bottom: -2px;
}
.tdc-property-installed_post_types {
  margin-bottom: 23px;
}
.tdc-property-header_color,
.tdc-border-color,
.tdc-property-header_text_color {
  margin-bottom: -3px;
}
.tdc-bg-style {
  position: relative;
  margin-bottom: 19px;
}
.tdc-property-limit,
.tdc-property-style {
  margin-bottom: 19px;
}
.tdc-bg-upload .tdc-property-title {
  margin-bottom: 6px;
}
.tdc-bg-upload .tdc-css-bg-image-wrap {
  vertical-align: middle;
  overflow: hidden;
  display: inline-block;
}
.tdc-bg-upload .tdc-css-bg-image-wrap img {
  width: auto;
  height: 100%;
  max-width: none;
}
.tdc-bg-upload .tdc-css-bg-remove {
  text-decoration: none;
  font-size: 11px;
  color: #000;
  border: 1px solid #DDDDDD;
  padding: 4px 10px 5px 10px;
  margin-left: 15px;
}
/*
  css box editor
*/
.tdc-box-margin {
  border: 1px solid #ddd;
  position: relative;
  width: 270px;
  height: 220px;
  margin-top: 3px;
  margin-bottom: 16px;
}
.tdc-box-margin .tdc-margin-label {
  position: absolute;
  top: 0;
  left: 4px;
  font-size: 10px;
  color: #888888;
}
.tdc-box-border {
  border: 1px dashed #ddd;
  background-color: #f7f7f7;
  position: relative;
  width: 152px;
  height: 136px;
  left: 58px;
  top: 41px;
}
.tdc-box-border .tdc-border-label {
  position: absolute;
  bottom: -18px;
  right: -2px;
  font-size: 10px;
  color: #888888;
}
.tdc-box-padding {
  border: 1px dashed #ddd;
  background-color: #fff;
  position: relative;
  width: 130px;
  height: 114px;
  left: 10px;
  top: 10px;
}
.tdc-box-padding .tdc-padding-label {
  position: absolute;
  top: 0;
  left: 4px;
  font-size: 10px;
  color: #888888;
}
.tdc-css-box-input {
  width: 32px;
  height: 21px;
  font-size: 11px;
  text-align: center;
}
/*
  top boxes
*/
.tdc-css-box-input-top-margin {
  position: absolute;
  top: 7px;
  left: 0;
  right: 0;
  margin: auto;
}
.tdc-css-box-input-top-border {
  position: absolute;
  top: -6px;
  left: 0;
  right: 0;
  margin: auto;
}
.tdc-css-box-input-top-padding {
  position: absolute;
  top: 12px;
  left: 0;
  right: 0;
  margin: auto;
}
/*
  right boxes
*/
.tdc-css-box-input-right-margin {
  position: absolute;
  margin-top: -11px;
  top: 50%;
  right: 7px;
}
.tdc-css-box-input-right-border {
  position: absolute;
  margin-top: -11px;
  top: 50%;
  right: -12px;
}
.tdc-css-box-input-right-padding {
  position: absolute;
  margin-top: -11px;
  top: 50%;
  right: 17px;
}
/*
  bottom boxes
*/
.tdc-css-box-input-bottom-margin {
  position: absolute;
  bottom: 7px;
  left: 0;
  right: 0;
  margin: 0 auto;
}
.tdc-css-box-input-bottom-border {
  position: absolute;
  bottom: -6px;
  left: 0;
  right: 0;
  margin: 0 auto;
}
.tdc-css-box-input-bottom-padding {
  position: absolute;
  bottom: 12px;
  left: 0;
  right: 0;
  margin: 0 auto;
}
/*
  left boxes
*/
.tdc-css-box-input-left-margin {
  position: absolute;
  margin-top: -11px;
  top: 50%;
  left: 7px;
}
.tdc-css-box-input-left-border {
  position: absolute;
  margin-top: -11px;
  top: 50%;
  left: -12px;
}
.tdc-css-box-input-left-padding {
  position: absolute;
  margin-top: -11px;
  top: 50%;
  left: 17px;
}
.tdc-css-bg-image-wrap {
  width: 66px;
  height: 66px;
}
.tdc-css-bg-image-wrap img {
  max-width: 100%;
  max-height: 100%;
  cursor: pointer;
}
.tdc-hidden-button {
  display: none;
}
.tdc-textarea {
  width: 100%;
  height: 300px;
  display: none;
}
body.tdc #adminmenuback,
body.tdc #adminmenuwrap,
body.tdc #local-storage-notice,
body.tdc #setting-error-tgmpa,
body.tdc #wpfooter,
body.tdc #wpadminbar,
body.tdc #vc_ui-panel-add-element,
body.tdc #vc_ui-panel-edit-element,
body.tdc #vc_ui-panel-templates,
body.tdc #vc_ui-panel-post-settings,
body.tdc #vc_ui-panel-row-layout {
  display: none;
}
body.tdc #wpcontent,
body.tdc #wpfooter {
  margin-left: 0 !important;
  padding-left: 0 !important;
}
/*body.tdc #wpbody {*/
/*top: -64px; */
/* two adminbar heights */
/*}*/
body.tdc #wpbody-content {
  padding-bottom: 0;
}
#tdc-live-iframe-wrapper {
  position: absolute;
  left: 0;
  width: 100%;
  margin-top: -32px !important;
  transform-origin: bottom right;
  transition: left 0.4s cubic-bezier(0.55, 0, 0.1, 1) 0s;
}
.tdc-live-iframe-wrapper-inline {
  left: 300px !important;
  transition: left 0.4s ease;
  position: absolute !important;
}
#tdc-live-iframe {
  margin: 0 auto !important;
  display: block;
}
#tdc-dragged-helper {
  display: none;
  position: fixed;
  border: 1px solid blue;
  width: 100px;
  height: 100px;
  top: 0;
  left: 0;
  z-index: 2;
  pointer-events: none;
  color: #FFFFFF;
}
.minimize {
  transform: scale(0.175);
}
.tdc-notice-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  /* 2 */
  box-sizing: border-box;
  transition: all 0.4s cubic-bezier(0.55, 0, 0.1, 1) 0s;
}
.tdc-live-iframe-wrapper-full .tdc-notice-wrapper {
  padding-left: 300px;
}
.tdc-notice,
.tdc-notice-error {
  height: 43px;
  color: white;
  margin-bottom: 1px;
  font-size: 14px;
  line-height: 43px;
  padding-left: 20px;
  position: relative;
}
.tdc-notice {
  background-color: #88be4e;
}
.tdc-notice-error {
  background-color: red !important;
}
.tdc-close-notice {
  width: 20px;
  height: 20px;
  position: absolute;
  right: 20px;
  top: 10px;
  background: url('../images/sidebar/x.png');
  background-repeat: no-repeat;
  cursor: pointer;
}
