#tdc-sidebar {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 300px;
  background-color: #fff;
  z-index: 1;
  -webkit-box-shadow: 0 0 8px 2px rgba(0,0,0, 0.10);
  -moz-box-shadow: 0 0 8px 2px rgba(0,0,0, 0.10);
  box-shadow: 0 0 8px 2px rgba(0,0,0, 0.10);
}

/*
  Top buttons
*/
.tdc-top-buttons {
  height: 43px;
  background-color: #4eb2ec;
  position: relative;

  .tdc-add-element {
    display: block;
    width: 110px;
    font-size: 12px;
    line-height: 43px;
    text-transform: uppercase;
    text-decoration: none;
    color: #fff;
    margin-left: 10px;
    padding-left: 14px;
    position: relative;

    .tdc-icon-add {
      position: absolute;
      top: 11px;
      right: 8px;
      height: 20px;
      width: 20px;
      background: url('../images/sidebar/arrow_right.png');
    }

    &:hover {
      background-color: #268ac2;
    }
  }

  .tdc-active-element {
    background-color: #fff;
    color: @tdc_font_color;
    .tdc-icon-add {
      background: url('../images/sidebar/arrow_down.png');
    }
  }

  .tdc-save-page {
    position: absolute;
    top: 10px;
    right: 20px;
    height: 20px;
    width: 20px;
    background: url('../images/sidebar/save.png');
  }
}

/*
  Modal window
*/
.tdc-sidebar-modal {
  display: none;
  background-color: #fff;
  position: absolute;
  left: 0;
  top: 43px;
  right: 0;
  bottom: 50px;
  overflow: hidden;
  z-index: 2;

  .tdc-sidebar-modal-content {
    padding: 13px 20px 20px 20px;
  }

  // search (wrapper)
  .tdc-sidebar-modal-search {
    position: relative;
    margin: 0 20px 3px 20px;
    border-bottom: 1px solid #ddd;

    input[type=text] {
      border: none;
      -webkit-box-shadow: none;
      transition: none;
      -webkit-transition: none;
      box-shadow: none;
      background-color: #fff;
      color: #888;
      outline: 0;
      width: 220px;
      font-size: 12px;
      padding: 20px 0 3px 0;
    }
  }

  .tdc-modal-close {
    position: absolute;
    right: 0;
    top: 18px;
    height: 20px;
    width: 20px;
    background: url('../images/sidebar/close-20.png');
  }

  .tdc-element-icon {
    position: absolute;
    top: 0;
    right: 0;
    height: 24px;
    width: 40px;
    background: url('../images/sidebar/big_grid1.png');
  }
}

// class used to open the modal
.tdc-modal-open {
  display: block;
}


.tdc-ico-vc_row,
.tdc-ico-vc_row_inner,
.tdc-ico-rev_slider,
.tdc-ico-td_block_1,
.tdc-ico-td_block_2,
.tdc-ico-td_block_3,
.tdc-ico-td_block_4,
.tdc-ico-td_block_5,
.tdc-ico-td_block_6,
.tdc-ico-td_block_7,
.tdc-ico-td_block_8,
.tdc-ico-td_block_9,
.tdc-ico-td_block_10,
.tdc-ico-td_block_11,
.tdc-ico-td_block_12,
.tdc-ico-td_block_13,
.tdc-ico-td_block_14,
.tdc-ico-td_block_15,
.tdc-ico-td_block_16,
.tdc-ico-td_block_17,
.tdc-ico-td_block_18,
.tdc-ico-td_block_19,
.tdc-ico-td_block_20,
.tdc-ico-td_block_21,
.tdc-ico-td_block_22,
.tdc-ico-td_block_23,
.tdc-ico-td_block_24,
.tdc-ico-td_block_25 {
  height: 24px;
  background: url('../images/sidebar/big_grid1.png');
  background-repeat: no-repeat;
  margin-bottom: 5px;
}

.tdc-element-id {
  margin-left: 48px;
  position: relative;
  top: 3px;
}


/*
  Breadcrumbs
*/
.tdc-breadcrumbs {
  clear: left;
  padding: 7px 12px 0 12px;
  background-color: #FFFFFF;
  min-height: 20px;

  a {
    font-size:12px;
    text-decoration: none;
    color:#888;

    &:hover {
      text-decoration: underline;
    }
  }
}

.tdc-breadcrumb-arrow {
  width:10px;
  height: 10px;
  display: inline-block;
  background: url('../images/sidebar/breadcrumbs-small-arrow.png');
  position: relative;
  top: 2px;
}

.tdc-current-element-head {
  font-size: 14px;
  margin-top: 0;
  padding: 0 10px 20px 12px;
  color: @tdc_font_color;
}

/*
  inspector + tabs
*/
.tdc-inspector {
  padding-top: 3px;
  background-color: #fff;
}

.tdc-tabs {
  padding: 0 12px;

  a {
    padding: 8px 12px 7px 12px;
    display: inline-block;
    position: relative;
    top: 1px;
    color: @tdc_font_color;
    text-decoration: none;
    font-size: 12px;
  }

  .tdc-tab-active {
    -webkit-box-shadow: 0 0 6px 2px rgba(0,0,0, 0.1);
    -moz-box-shadow: 0 0 6px 2px rgba(0,0,0, 0.1);
    box-shadow: 0 0 6px 2px rgba(0,0,0, 0.1);
    background-color: #fff;
    position: relative;
    z-index: 1;

    &:before {
      content: '';
      position: absolute;
      bottom: -11px;
      left: -5px;
      z-index: 1;
      width: 125%;
      height: 12px;
      background-color: #fff;
    }
  }
}

.tdc-tab-content-wrap {
  -webkit-box-shadow: -5px 0 6px 2px rgba(0,0,0, 0.1);
  -moz-box-shadow: -5px 0 6px 2px rgba(0,0,0, 0.1);
  box-shadow: -5px 0 6px 2px rgba(0,0,0, 0.1);
  padding: 15px 15px 15px 12px;
  background-color: #fff;
  position: relative;

  &:before {
    content: '';
    position: absolute;
    bottom: -10px;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 20px;
    background-color: #fff;
  }

  .tdc-tab-content {
    display: none;
  }

  .tdc-tab-content-visible {
    display:block;
  }
}

/*
  sidebar bottom
*/
.tdc-sidebar-bottom {
  display: block;
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: #2489c2;
  text-align: center;
  line-height: 41px;
  color: white;
  text-decoration: none;
}

.tdc-sidebar-bottom.active {
  background-color: #b554c2;
}

.tdc-sidebar-info {
  position: fixed;
  left: 0;
  bottom: 0;
  font-size: 12px;
  color: #FFFFFF;
  background-color: #000;
}

#tdc-restore {
  position: fixed;
  left: 20px;
  bottom: 50px;
  font-size: 12px;
  color: #FFFFFF;
  background-color: #000;
}
#tdc-restore-content {
  display: none;
  position: fixed;
  left: 70px;
  bottom: 50px;
  font-size: 12px;
  color: @tdc_font_color;
  background-color: #fff;
  border: 1px solid red;
  width: 520px;
  max-height: 200px;
  overflow-y: scroll;
}

#tdc-breadcrumb-row,
#tdc-breadcrumb-column,
#tdc-breadcrumb-inner-row,
#tdc-breadcrumb-inner-column {
  display: none;
  float: left;
}


/*
  Properties
*/

#td-tab-general,
#td-tab-filter,
#td-tab-ajax,
#td-tab-extra {
  input[type=text],
  select {
    box-shadow: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    max-width: 100%;
    width: 100%;
    font-size: 12px;
    padding: 4px 8px;
  }
}

#td-tab-css {
  input[type=text] {
    box-shadow: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
  }

  select {
    box-shadow: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    max-width: 100%;
    width: 100%;
    font-size: 12px;
    padding: 4px 8px;
  }
}

.tdc-property-wrap {
  margin-bottom: 13px;

  .tdc-property-title {
    font-size: 12px;
    margin-bottom: 3px;
    color: @tdc_font_color;
  }
}

#td-tab-css .tdc-property-wrap:nth-of-type(2),
#td-tab-css .tdc-property-wrap:nth-of-type(3),
.tdc-property-colorpicker {
  position: relative;
  margin-bottom: 1px;


  .tdc-property .wp-picker-container {

    .wp-color-result {
      box-shadow: none;
      -webkit-box-shadow: none;
      -moz-box-shadow: none;
      height: 20px;
      padding-left: 20px;
      border: 1px solid #ddd;
      position: absolute;
      top: -3px;
      right: -6px;

      &:after {
        display: none;
      }
    }

    .button {
      font-size: 11px;
      color: #000 !important;
      border: 1px solid #ddd !important;
      background-color: #fff !important;
      padding: 0 10px !important;
      margin: 6px 0 2px 6px !important;
      height: 27px !important;
    }

    input.wp-color-picker[type="text"] {
      margin: 6px 0 0 0 !important;
      height: 27px !important;
      width: 218px !important;
    }

    .iris-picker {
      border-bottom: none;
      margin: 6px 0 0 0;
      width: 271px !important;

      .iris-square {
        width: 76%;
        margin-right: 31px;
        position: relative;
        top: 10px;
        left: 10px;
      }

      .iris-strip {
        top: 11px;
      }

      .iris-palette-container {
        left: 20px;
        bottom: -15px;
      }
    }

    .cs-alpha-wrap {
      position: static;
      width: 231px;
      padding: 30px 20px 20px 20px;
      margin-bottom: 20px;

      .cs-alpha-text {
        top: 0;
        right: 24px;
        color: #888
      };
    }
  }
}

/*
  css box editor
*/

.tdc-box-margin {
  border: 1px solid #f8cb9c;
  //background-color: #f8cb9c;
  position: relative;
  width: 270px;
  height: 220px;
}


.tdc-box-border {
  border: 1px solid #f3e2b0;
  //background-color: white;
  position: relative;
  width:184px;
  height:159px;
  left:42px;
  top:30px;
}


.tdc-box-padding {
  border: 1px solid #c3deb7;
  //background-color: #c3deb7;
  position: relative;
  width:100px;
  height:100px;
  left:41px;
  top:28px;
}


.tdc-css-box-input {
  width: 36px;

  font-size: 11px;
  text-align: center;
  //height: 22px;

}

.tdc-css-box-input-top {
  position: absolute;
  margin-left: -18px;
  top:2px;
  left: 50%;
}

.tdc-css-box-input-right {
  position: absolute;
  margin-top: -11px;
  top:50%;
  right:2px;

}

.tdc-css-box-input-bottom {
  position: absolute;
  margin-left: -18px;
  bottom:2px;
  left: 50%;
}

.tdc-css-box-input-left {
  position: absolute;
  margin-top: -11px;
  top:50%;
  left:2px;
}


.tdc-css-bg-image-wrap {
  width: 66px;
  height: 66px;
  img {
    max-width: 100%;
    max-height: 100%;
    cursor: pointer;
  }
}

.tdc-hidden-button {
  display: none;
}


