#tdc-sidebar {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 300px;
  border-right: 1px solid #ebebeb;
  background-color: #fbfbfb;
  z-index: 1;

  color:#161616;
}



/*
  Top buttons
*/
.tdc-top-buttons {
  a {
    display: block;
    width: 50%;
    float: left;
    background-color: #2489c2;
    text-align: center;
    line-height: 41px;
    color:white;
    text-decoration: none;
  }


  .tdc-add-element {
    position: relative;

    &:before {
      position: absolute;
      top: 0;
      left: 0;
      width: 1px;
      height: 100%;
      content: '';
      background-color: #5f9dc0;
    }
  }
}



/*
  Breadcrumbs
*/
.tdc-breadcrumbs {
  clear: left;
  padding: 7px 12px 0 12px;
  background-color: #FFFFFF;
  min-height: 20px;

  a {
    font-size:12px;
    text-decoration: none;
    color:#717171;

    &:hover {
      text-decoration: underline;
    }
  }
}

.tdc-breadcrumb-arrow {
  width:10px;
  height: 10px;
  display: inline-block;
  background: url('../images/sidebar/breadcrumbs-small-arrow.png');
  position: relative;
  top:2px;
}


.tdc-current-element-head {
  font-size:15px;
  margin-top:2px;
  padding: 0 12px 8px;
  color:#000000;
}


/*
  Modal window
*/

.tdc-sidebar-modal {
  display: none;
  background-color: white;
  position: absolute;
  left:10px;
  top:10px;
  right: 10px;
  bottom: 50px;

  -webkit-box-shadow: 0px 0px 20px -1px rgba(194,194,194,1);
  -moz-box-shadow: 0px 0px 20px -1px rgba(194,194,194,1);
  box-shadow: 0px 0px 20px -1px rgba(194,194,194,1);
}

// class used to open the modal
.tdc-modal-open {
  display: block;
}


// the title (wrapper)
.tdc-sidebar-modal-title {
  font-size:15px;
  padding:10px;
  border-bottom: 1px solid #ebebeb;
  position: relative;

  .tdc-modal-close {
    position: absolute;
    right:10px;
    top:10px;
    height: 20px;
    width: 20px;
    background: url('../images/sidebar/close-20.png');
  }
}




.tdc-sidebar-modal-content {
  padding: 10px;
}







/*
  inspector + tabs
*/

.tdc-inspector {
  padding-top: 4px;
  background-color: #FFFFFF;
  //display: none;
}

.tdc-tabs {
  border-bottom: 1px solid #ebebeb;
  padding: 0 12px 0 12px;

  a {
    border: 1px solid transparent;
    padding: 5px 7px 5px 7px;
    display: inline-block;
    position: relative;
    top:1px;
    color: @tdc_font_color;
    text-decoration: none;
    font-weight:bold;
    font-size:12px;
  }

  .tdc-tab-active {
    border: 1px solid #ebebeb;
    border-bottom: 1px solid #FFFFFF;
    background-color: #fbfbfb;
  }

}

.tdc-tab-content-wrap {

  /* @todo se poate face doar cu o linie - ca atat ramane din shadow-ul asta */
  -webkit-box-shadow: 0px -2px 10px -2px rgba(128,121,128,0.18);
  -moz-box-shadow: 0px -2px 10px -2px rgba(128,121,128,0.18);
  box-shadow: 0px -2px 10px -2px rgba(128,121,128,0.18);

  padding: 12px 15px 12px 12px;
  background-color: #fbfbfb;

  .tdc-tab-content {
    display: none;
  }

  .tdc-tab-content-visible {
    display:block;
  }
}




/*
  sidebar bottom
*/
.tdc-sidebar-bottom {
  display: block;
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: #2489c2;
  text-align: center;
  line-height: 41px;
  color: white;
  text-decoration: none;
}

.tdc-sidebar-bottom.active {
  background-color: #b554c2;
}


#tdc-breadcrumb-row,
#tdc-breadcrumb-column,
#tdc-breadcrumb-inner-row,
#tdc-breadcrumb-inner-column {
  display: none;
  float: left;
}




/*
  Properties
*/

.tdc-property-title {
  font-size:13px;
  margin-bottom: 2px;
}

.tdc-property-wrap {



  input {
    //width: 100%;
    max-width: 100%;
  }

  select {
    width: 100px;
    max-width: 100%;
  }

  margin-bottom: 10px;
}



.tdc-property-textfield{
  input {
    width: 100%;
  }
}





/*
  css box editor
*/

.tdc-box-margin {
  border: 1px solid #f8cb9c;
  //background-color: #f8cb9c;
  position: relative;
  width:270px;
  height:220px;
}


.tdc-box-border {
  border: 1px solid #f3e2b0;
  //background-color: white;
  position: relative;
  width:184px;
  height:159px;
  left:42px;
  top:30px;
}


.tdc-box-padding {
  border: 1px solid #c3deb7;
  //background-color: #c3deb7;
  position: relative;
  width:100px;
  height:100px;
  left:41px;
  top:28px;
}


.tdc-css-box-input {
  width: 36px;

  font-size: 11px;
  text-align: center;
  //height: 22px;

}

.tdc-css-box-input-top {
  position: absolute;
  margin-left: -18px;
  top:2px;
  left: 50%;
}

.tdc-css-box-input-right {
  position: absolute;
  margin-top: -11px;
  top:50%;
  right:2px;

}

.tdc-css-box-input-bottom {
  position: absolute;
  margin-left: -18px;
  bottom:2px;
  left: 50%;
}

.tdc-css-box-input-left {
  position: absolute;
  margin-top: -11px;
  top:50%;
  left:2px;
}


