/*
  Hide WordPress stuff
*/


@tdc_font_color: #000;

@import "tdc-sidebar";

body.tdc #adminmenuback,
body.tdc #adminmenuwrap,
body.tdc #local-storage-notice,
body.tdc #setting-error-tgmpa,
body.tdc #wpfooter,
body.tdc #wpadminbar,
  /* these should be removed */
body.tdc #vc_ui-panel-add-element,
body.tdc #vc_ui-panel-edit-element,
body.tdc #vc_ui-panel-templates,
body.tdc #vc_ui-panel-post-settings,
body.tdc #vc_ui-panel-row-layout {
  display: none;
}

body.tdc #wpcontent,
body.tdc #wpfooter {
  margin-left: 0 !important;
  padding-left: 0 !important;
}


/*body.tdc #wpbody {*/
/*top: -64px; *//* two adminbar heights */
/*}*/

body.tdc #wpbody-content {
  padding-bottom: 0;
}

#tdc-live-iframe-wrapper {
  position: absolute;
  left: 0;
  width: 100%;
  margin-top: -32px !important;
  transform-origin: bottom right;
  //transition: transform 0.65s cubic-bezier(0.23, 1, 0.32, 1);
  transition: all 0.4s ease;
}

.tdc-live-iframe-wrapper-inline {
  left: 300px !important;
  transition: left 0.4s ease;
  position: absolute !important;
}

#tdc-live-iframe {
  margin: 0 auto !important;
  display: block;
}


#tdc-dragged-helper {
  display: none;
  position: fixed;
  border: 1px solid blue;
  width: 100px;
  height: 100px;
  top: 0;
  left: 0;
  z-index: 2;
  pointer-events: none;
  color: #FFFFFF;
}


.minimize {
  transform: scale(0.175);
}


.tdc-notice-wrapper {
  position: absolute;
  top: 0;
  left: 300px;
}

.tdc-notice {
  width: 500px;
  height: 50px;
  background-color: green;
  color: white;
  margin-top: 2px;
}

.tdc-notice-error {
  background-color: red !important;
}

.tdc-close-notice {
  border: 1px solid black;
  width: 20px;
  height: 20px;
  right: 0;
  top: 0;
  float: right;

  &:after {
    content: 'x';
  }
}

